{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Clientes <a href="{{ path('cliente_new') }}" class="btn btn-primary float-right">Add Cliente</a></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Documento</th>
                <th>Data de cadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{% if cliente.dataCadastro %}{{ cliente.dataCadastro|date('d/m/Y') }}{% endif %}</td>
                <td>

                    <a href="{{ path('cliente_show', { 'id': cliente.id }) }}" class="btn btn-info">exibir</a>

                    <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn btn-primary">editar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    
    
{% endblock %}
